td{
    background: red;
}
table{
    width: 32cm;
    height: 32cm;
    box-shadow: 25px 25px 25px silver;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 80px;
} 
.h6-u6{
    width: 6cm;
    height: 6cm;
}
.h7-u6{
    width: 6cm;
    height: 7cm;
}
.h7-u7{
    width: 7cm;
    height: 7cm;
}
.h6-u7{
    width: 7cm;
    height: 6cm;
}
#one, #two, #three, #four, #five {
    background-color: white;
}